body {
    background-color: #39545a;
}

.shop-pic {
    background-image: url(./media/shopping.png);
    height: 40rem;
    border: 4px solid white;
    margin:  4rem;
}

.store-name {
    font-family: "Lobster", cursive;
    text-shadow: 4px 4px black;
}

.title-2 {
    text-shadow: 2px 2px black;
}

.sign-in {
    color: white !important;
    border: 2px solid white !important;
}

@media (max-width:480px) {
    /* .shop-pic {
        height: 20vh;
    } */
    .header {
        height: 40vh !important;
    }
   
    
}

@media (max-width:768px) {
    .shop-pic {
        height: 80vh;
    }
   
    
}
