.logo {
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 4px 4px black;
  margin-left: 4rem;
}

.cart-box {
  margin-right: 4rem;
}

.cart {
  color: white;
}
@media (max-width: 480px) {
 .nav-contain {
    flex-direction: column; 
 }
 .logo {
    margin: 0;
 }
  }
@media (max-width: 768px) {
  .nav-contain {
    flex-direction: column;
  }
  .cart-box {
    margin-right: 0;
  }
}
